<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven></mvc:annotation-driven>
	<context:component-scan base-package="com.study.controller"></context:component-scan>
<!--	 自定义适配器
	<bean class="com.study.adapter.MyAdapter"></bean>
	<bean class="com.study.adapter.MyAnnotationAdapter"></bean>-->
	
	<!-- 配置映射器 -->
	<!-- 作用:告诉前端控制器,什么样的url对应什么样的Controller -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	
	<!-- 配置适配器 -->
	<!-- 作用:告诉前端控制器,需要调用Controller中的哪个方法 -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	
	
	<!-- 配置视图解析器 -->
	<!-- 作用:告诉前端控制器,怎样把逻辑视图名转换为具体的视图路径 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
		<!-- 设置视图中对jstl标签库的支持 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
		<!-- 设置逻辑视图名的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"/>  
		<!-- 设置逻辑视图名的后缀 -->
		<property name="suffix" value=".jsp"/>  
	</bean>

	<!-- 前端控制器的映射路径配置成了/,然后静态资源就不能访问了 -->
	<!-- 解决静态资源不能访问的问题 -->
	<mvc:resources location="/static/js/"     mapping="/static/js/**"/>
	<mvc:resources location="/static/css/"    mapping="/static/css/**"/>
	<mvc:resources location="/static/images/" mapping="/static/images/**"/>
	<!--&lt;!&ndash; 配置控制器/处理器 &ndash;&gt;
	<bean name="/hello.action" class="com.study.controller.HelloController">
	</bean>

	<bean name="/test" class="com.study.controller.TestController">
		<property name="synchronizeOnSession" value="false"></property>
		<property name="supportedMethods" value="POST,GET"></property>
		<property name="requireSession" value="false"></property>
	</bean>

	<bean name="/mytest" class="com.study.adapter.MyTestController"></bean>-->

<!--	<bean name="/mytest" class="com.briup.web.adapter.MyTestController"></bean>-->
<!--	<bean name="/myannotationtest" class="com.briup.web.adapter.MyAnnotationController"></bean>-->
	<!-- 拦截器 -->
	<bean name="interceptor1" class="com.study.interceptor.MyInterceptor1"></bean>
	<bean name="interceptor2" class="com.study.interceptor.MyInterceptor2"></bean>
	<bean name="timeInterceptor" class="com.study.interceptor.TimeInterceptor"></bean>

	<!-- springmvc的专用标签,用来配置拦截器 -->
<!--	<mvc:interceptors>-->
<!--		<mvc:interceptor>-->
<!--			<mvc:mapping path="/**"/>-->
<!--			<mvc:exclude-mapping path="/test"/>-->
<!--			<ref bean="interceptor1"/>-->
<!--		</mvc:interceptor>-->
<!--		<mvc:interceptor>-->
<!--			<mvc:mapping path="/**"/>-->
<!--			<mvc:exclude-mapping path="/test"/>-->
<!--			<ref bean="interceptor2"/>-->
<!--		</mvc:interceptor>-->
<!--		<mvc:interceptor>-->
<!--			<mvc:mapping path="/**"/>-->
<!--			<ref bean="timeInterceptor"/>-->
<!--		</mvc:interceptor>-->
<!--	</mvc:interceptors>-->
</beans>